/* ===== RESET ===== */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Menggunakan font Monospace ala Terminal */
body {
    font-family: 'Poppins', sans-serif;
    background: #111111;
    color: #ffffff;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

:root {
    --primary: #38bdf8;
    --primary-hover: #0ea5e9;
    --bg-main: #111111;
    --bg-sidebar: #111111;
    --bg-card: #181818;
    --bg-card-hover: #222222;
    --text-secondary: #9ca3af;
    --border: #2a2a2a;
    --glow: 0 0 15px rgba(56, 189, 248, 0.25);
    --radius: 18px;
    --radius-btn: 14px;
    --radius-avatar: 999px;
    --ease: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --player-h: 0px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--bg-main);
    border-left: 1px solid var(--border);
}

::-webkit-scrollbar-thumb {
    background: var(--border);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--text-secondary);
}

.fa,
.fas,
.far,
.fab,
.fa-solid,
.fa-regular,
.fa-brands {
    font-family: "Font Awesome 6 Free" !important;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.fab,
.fa-brands {
    font-family: "Font Awesome 6 Brands" !important;
    font-weight: 400;
}

.far,
.fa-regular {
    font-family: "Font Awesome 6 Free" !important;
    font-weight: 400;
}

.fas,
.fa-solid {
    font-family: "Font Awesome 6 Free" !important;
    font-weight: 900;
}

/* ===== LIGHT THEME VARIABLES OVERRIDES ===== */
body.light-theme {
    background: #f9fafb;
    color: #111827;
    --bg-main: #f9fafb;
    --bg-sidebar: #f3f4f6;
    --bg-card: #e5e7eb;
    --bg-card-hover: #d1d5db;
    --text-secondary: #4b5563;
    --border: #d1d5db;
}

body.light-theme .sidebar-profile-name,
body.light-theme .copyright-author,
body.light-theme .nav-item:hover,
body.light-theme .player-info h4 {
    color: #111827 !important;
}

body.light-theme .nav-item.active {
    color: #ffffff !important;
}

body.light-theme .lang-toggle-pill,
body.light-theme .theme-toggle-pill {
    background: #e5e7eb;
}